/Documentation
/ProjectManagement.Service/ProjectManagement.Api/obj
/ProjectManagement.Service/ProjectManagement.Api/bin
/ProjectManagement.Service/ProjectManagement.Models/obj
/ProjectManagement.Service/ProjectManagement.Models/bin
/ProjectManagement.Service/.vs