/Documentation
/ProjectManagment.Service/ProjectManagment.Api/obj
/ProjectManagment.Service/ProjectManagment.Api/bin
/ProjectManagment.Service/ProjectManagment.Models/obj
/ProjectManagment.Service/ProjectManagment.Models/bin
/ProjectManagment.Service/.vs